<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Dickson Prince. It collects data from <a href="mapbox.com">mapbox.com</a> and <a href="weatherstack.com">weatherstack.com</a> to give weather forecast for cities around the world.</p>
        <img class="about-img" src="./img/forecast.gif" alt="">
    </div>
    {{!-- Registering a partial --}}
    {{>footer}}
</body>

</html>