<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help</title>
</head>

<body>
    <div class="main-content">
        {{!-- Registering a partial --}}
        {{>header}}
        <p>{{helpText}}</p>
        <p>This is an easy to use weather platform that gives you current weather information like the temperature and precipitation of any city around the world. However, if you encounter any trouble using this platform, chances are that either <a href="mapbox">mapbox</a> API or <a href="weatherstack">weatherstack</a> API may be experiencing server downtime. In such situation, you'll need to try again after sometime.</p>
    </div>

    {{>footer}}
</body>

</html>