<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Home</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather forecast</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="messageone"></p>
        <p id="messagetwo"></p>

    </div>
    {{!-- Registering a partial --}}
    {{>footer}}

    <script src="./js/source.js"></script>
</body>

</html>